@{
    ViewBag.Title = "Error";
}
<div class="row">

    <div class="col-md-12" style="text-align:center">
        <h1  class="text-danger"> 500 </h1>
            <h4>Oops! Something went wrong.</h4>
            <p>
                This error has been logged, we will fix it soon.
            </p>
    </div>
</div>

@section BreadcrumbItems {
    <li class="breadcrumb-item">An Error Has Occured!</li>
}