@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = Resources.ResetPasswordConfirmation;
}

<div class="card">
    <div class="card-header">
        <b>@Resources.AppName</b> - @Resources.PasswordChanged
    </div>
    <div class="card-block">
            <div class="alert alert-success" role="alert">
                @Html.Raw(Resources.YourPasswordHasResetMessage)
            </div>
    </div>
</div>
