<?xml version="1.0"?>
<appSettings >
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="mailAccount" value="amintabar@gmail.com" />
  <add key="mailPassword" value="+-+-+-" />
  <add key="defaultCulture" value="en-US" />
  <add key="AppStoragePath" value="F:\Teleboard\" />
  <add key="AwsS3AccessKeyID" value="AKIAI7FPWFOJRG4B4NTA" />
  <add key="AwsS3SecretAccessKey" value="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" />
  <add key="AwsS3BucketName" value="teleboard.dev" />
  <add key="AwsS3Region" value="eu-west-2" />
  <add key="AwsS3Url" value="http://s3.eu-west-2.amazonaws.com" />


</appSettings>
