<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="data source=192.168.98.207;initial catalog=Teleboard;user id=sa;pwd=sapw;persist security info=False" providerName="System.Data.SqlClient"/>-->
  <add name="DefaultConnection" connectionString="data source=.\sqlexpress;initial catalog=Teleboard;user id=sa;pwd=sa;persist security info=False" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="data source=94.130.56.119\SQLEXPRESS,1433;initial catalog=Teleboard_Test;user id=sa;pwd=sapw;persist security info=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;initial catalog=Teleboard;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
